.checkboxListContainer {
  margin-top: 4px;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkbox {
  cursor: pointer;
  width: fit-content;
}
